<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1>PERSONAL LOAN</h1>
            <h2>Product Features</h2>
            <ul class="list-group">
                <li class="list">Low interest rates. Further, we charge interest on a daily reducing balance!</li>

                <li class="list">Low processing charges.</li>

                <li class="list">No hidden cost / administrative charges.</li>

                <li class="list">Minimal documentation...something that you had always wanted</li>

                <li class="list"> No prepayment penalties. Reduce your interest burden and optimally utilize your
                    surplus funds by prepaying the loan</li>
            </ul>
            <img src="https://image.shutterstock.com/image-photo/business-concept-paper-tag-written-260nw-581362540.jpg"
                alt="Loan Image">
        </div>

        <div class="col-8">
            <div class="jumbotron">
                <h5>Loan Application</h5>
                <form #myForm="ngForm" (ngSubmit)="onSignup()">

                    <div class="col-md-8">
                        <label for="city" class=" col-form-label">City</label>
                        <div class="form-group">
                            <input [(ngModel)]="user.city" type="text" class="form-control" id="city" name="city"
                                placeholder="City" required>
                        </div>
                    </div>

                    <br>
                    <div class="col-md-8">
                        <label for="pan" class=" col-form-label">PAN</label>
                        <div class="form-group">
                            <input [(ngModel)]="user.panNumber" type="text" class="PAN" id="panNumber" name="panNumber"
                                placeholder="PAN Number" required>
                            <span hidden id="errorPAN" class="error">Invalid PAN Number</span>
                        </div>
                    </div>

                    <br>
                    <div class="col-md-8">
                        <label for="name" class="col-form-label">Full Name</label>
                        <div class="form-group">
                            <input [(ngModel)]="user.fullname" type="text" class="form-control" id="fullname"
                                name="fullname" placeholder="Full name" required>
                        </div>
                    </div>

                    <br>
                    <div class="col-md-8">
                        <label for="email" class=" col-form-label">Email</label>
                        <div class="form-group">
                            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email"
                                maxlength="255" placeholder="Email">
                        </div>
                    </div>

                    <br>
                    <div class="col-md-6">
                        <label for="mobile" class=" col-form-label">Mobile</label>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">+91</span>
                                <input [(ngModel)]="user.mobile" type="number" class="form-control" id="mobile"
                                    name="mobile" placeholder="Mobile Number" pattern="/^[7-9][0-9]{9}$/"
                                    aria-describedby="inputGroupPrepend2" required>
                            </div>
                        </div>
                    </div>

                    <span class="label label-danger">{{msg}}</span>

                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

        <span class="close">&times;</span>
        <div class="popupBox">

            <div id="otpDiv">
                <!-- <label for="mobile" class=" col-form-label">Mobile</label>
                <div>
                    <input [(ngModel)]="otpValid.mobile" id="mobile" readonly name="mobile" type="number" class="mobile"
                        size="4">
                </div> -->
                <h2>OTP Verfication</h2>
                <label for="otp" class=" col-form-label">OTP</label>
                <div>
                    <input [(ngModel)]="otpValid.otp" id="otp" name="otp" type="password" required class="otp" size="4"
                        maxlength="4">
                </div>
            </div><br>

            <div class="btnRow">
                <button class="btn btn-secondary" id="Resend-btn" (click)="resendOtp()">Resend
                    OTP</button>
                <button class="btn btn-success" id="verify-btn" (click)="getOtp()">Verify OTP</button>
            </div>

        </div>

    </div>

</div>