<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1>PERSONAL LOAN</h1>
            <h2>Product Features</h2>
            <ul class="list-group">
                <li class="list">Low interest rates. Further, we charge interest on a daily reducing balance!</li>

                <li class="list">Low processing charges.</li>

                <li class="list">No hidden cost / administrative charges.</li>

                <li class="list">Minimal documentation...something that you had always wanted</li>

                <li class="list"> No prepayment penalties. Reduce your interest burden and optimally utilize your
                    surplus funds by prepaying the loan</li>
            </ul>
        </div>

        <div class="col-8">
            <div class="jumbotron">
                <form #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSignup()">
                    <div class="col-md-8">
                        <label for="name" class="col-form-label">Full Name</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="user.fullname" type="text" class="form-control" id="fullname"
                                name="fullname" placeholder="Full name" required>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-8">
                        <label for="email" class=" col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email"
                                placeholder="Email">
                        </div>
                    </div>
                    <br>
                    <div class="col-md-8">
                        <label for="city" class=" col-form-label">City</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="user.city" type="text" class="form-control" id="city" name="city"
                                placeholder="City" required>
                        </div>
                    </div>

                    <br>
                    <div class="col-md-8">
                        <label for="pan" class=" col-form-label">PAN</label>
                        <div class="col-sm-10">
                            <input [(ngModel)]="user.panNumber" type="text" class="PAN" id="panNumber" name="panNumber"
                                placeholder="PAN Number" required>
                            <span hidden id="errorPAN" class="error">Invalid PAN Number</span>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-6">
                        <label for="mobile" class=" col-form-label">Mobile</label>
                        <div class="col-sm-10">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend2">+91</span>
                                <input [(ngModel)]="user.mobile" type="number" class="form-control" id="mobile"
                                    name="mobile" placeholder="Mobile Number" aria-describedby="inputGroupPrepend2"
                                    required>
                            </div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <form #myForm="ngForm" (ngSubmit)="otpValidate()">
            <span class="close">&times;</span>
            <div class="form">

                <div class="otp-boxes">
                    <div class="box"><input type="text" class="otp-input"></div>
                    <div class="box"><input type="text" class="otp-input"></div>
                    <div class="box"><input type="text" class="otp-input"></div>
                    <div class="box"><input type="text" class="otp-input"></div>
                </div>
                <!-- <a href="#">Resend OTP</a> -->
                <div>
                    <button id="Resend-btn" class="button">Resend OTP</button>
                    <button id="verify-btn" class="button">Verify OTP</button>
                </div>

            </div>
        </form>
    </div>

</div>